.fu-code-block-row {
    display: flex;
    vertical-align: top;
}

.fu-code-block-col-2-1 {
    flex: 0 0 50%;
    max-width: calc(50% - 2rem);
    margin: 1rem;
}

.__dumi-default-layout-hero.__dumi-default-layout-hero button {
    border-radius: 2px;
}

.__dumi-default-search-input.__dumi-default-search-input {
    border-radius: 2px;
}

.__dumi-default-navbar-logo.__dumi-default-navbar-logo {
    cursor: pointer;
}