.fu-half-inline-block {
    display: inline-block;
    width: calc(50% - 2rem);
    margin: 1rem;
    vertical-align: top;
}

.__dumi-default-layout-hero.__dumi-default-layout-hero button {
    border-radius: 2px;
}
