.fu-form-select-radio.fu-form-select-radio {
    margin-right: 0px;
}

.fu-table-header.fu-table-header {
    background-color: #f9f9f9;
}

.fu-table-row-cell.fu-table-row-cell {
    width: 100%;
    height: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.fu-table-row-cell-padding.fu-table-row-cell-padding {
    padding: 0 8px;
}
