.header.header {
    background-color: #f9f9f9;
    position: relative;
    z-index: 100;
}

.cellSelect.cellSelect {
    text-overflow: initial;
}

.selectRow.selectRow {
    background-color: #e6f7ff;
}
